.page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableButtons {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlay {
    position:fixed;
    z-index: 100;
    top:0; 
    left:0;
    bottom:0; 
    right:0;
    background-image: url("https://img.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149177090.jpg?w=1380&t=st=1691229912~exp=1691230512~hmac=46986bc0d4da29199439fbca9bfcd9ac2bf95d6525188b28ba9124314b200f1c");
    background-position: center;
    background-size: cover;
    filter: blur(1.25em);
    height: 100%;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
 
table {
    color: #ffffff;
    width: 800px;
    height: 200px;
    z-index: 101;
    border-radius: 9990px;
}
 
th {
    border-bottom: 1px solid #ff53b28c;
    width: 40px;
}
 
td {
    text-align: center;
    width: 40px;
}

tr:hover {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    height: 25px;
}

.btn__page {
    z-index: 2;
    width: 100%;
    height: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPrev {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ff53b28c;
}

.nextPrev:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.currentPage {
    z-index: 2;
    margin-top: 25px;
}


.gpp {
    text-align: center;
    z-index: 2;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .characters {
    list-style: none;
    padding-left: 0;
    z-index: 2;
  }
  
  .characters li {
    display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  
  .characters-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    background-color: #e8e8e8;
    padding: .5em;
    margin-right: .5em;
  }
  
  .characters-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }